{
  "implicitWaitTime": 5,
  "appiumServer": "http://localhost:4723/wd/hub",
  "retryCount": 5,
  "desiredCaps":
	{
	  "platformName": "iOS",
	  "automationName": "XCUITest",
	  "bundleId": "com.razeware.RWConnect",
	  "udid": "7F832440-C09A-4649-9E89-5F39E36C3AE3",
	  "deviceName": "iPhone xR",
	  "noReset": true,
	  "platformVersion": "12.4",
	  "autoAcceptAlerts": true
	}
}